* {
  font-family: "Times New Roman", Times, serif;
}

.header {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  border-radius: 24px;
}

.channel-item {
  border: 2px solid rgb(29, 66, 83);
  background: #DFFB3F;
  padding: 20px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin: 15px auto;
  text-align: center;
  width: 75%;
}

.channel-item:hover {
  background-color: #B4F200;
  cursor: pointer;
}

.news-item {
  font-weight: normal;
  border: 1px solid rgb(60, 126, 60);
  background: #FFE373;
  margin: 20px 50px;
  padding: 10px 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.news-item:hover {
  cursor: default;
}

.news-title {
  margin: 5px 10px;
  word-wrap: break-word;
  font-weight: bold;
}

.news-paragraph {
  padding: 0 15px;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-image {
  width: 70%;
  height: 25%;
  margin: 30px;
}

.news-image:hover {
  cursor: pointer;
}

.news-item-error {
  color: red;
}

.attribution-link {
  margin: 0 auto;
  text-align: center;
}
